.dropdown {
    cursor: pointer;
    outline: none;
}

.rotate {
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.quote-card {
    max-width: initial;
    max-height: 100%;
    overflow: auto;
    display: inline-block;
}

.like {
    cursor: pointer;
}

.saved-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
}